h1{
    text-align:center;
    color:#4676A9;
    font-size: 50px;
}

h2{
    color:#A14343;
    font-size: 20px;
}

footer{
    background-color: #27039d;
    text-align:center;
    color:#ffffff;
}
